.container{
    width: 90%;
    margin: 0 auto;
}
.coursesHome{
    padding: 50px;
}
.cardGlobalRes {
    display: flex;
    justify-content: center;
}
.cardEffect {
    transition: all .5s;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
ant-table-wrapper table tr td.ant-table-selection-column,
.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
    display: none !important;
}